<div class="chat-container">
	<%- include("blocks/navbar") %>
	<div class="row p-2">
		<%- include("blocks/sidebar") %>
		<div id="mainboard" class="col-8 border border-top">
			<h3 id="mainheader">Welcome <%= user.name %></h3>
			<p id="descriptionheader" class="text-secondary">
				Add/navigate to a room
			</p>

			<hr />
			<h5>Profile</h5>
			<hr />
			<p><strong>Name:</strong> <%= user.name %></p>
			<p><strong>Email:</strong> <%= user.email %></p>
			<img class="avatar" src="<%= user.profilePic %>" alt="avatar" />
			<hr />
			<div
				class="btn btn-secondary"
				data-bs-toggle="modal"
				data-bs-target="#profileModal"
			>
				Edit
			</div>
			<br>
			<br>
			<div
				class="modal fade text-dark"
				id="profileModal"
				tabindex="-1"
				aria-labelledby="profileModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form
								action="/edit-profile"
								method="POST"
								enctype="multipart/form-data"
								id="profile_form"
							>
								<label for="user_name">Name: </label>
								<input
									type="text"
									id="user_name"
									name="user_name"
									value="<%= user.name %> "
								/>
								<br />
								<label for="user_email">Email: </label>
								<input
									type="text"
									id="user_email"
									name="user_email"
									value="<%= user.email %>"
								/>
								<hr />
								<label class="form-label" for="profile_pic"
									>Profile Picture:
								</label>
								<input
									class="form-control"
									type="file"
									name="profile_pic"
									id="profile_pic"
								/>
								<hr />
								<button
									type="button"
									class="btn btn-secondary"
									data-bs-dismiss="modal"
								>
									Close
								</button>
								<input class="btn btn-dark" type="submit" value="Update" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include("blocks/usersonline") %>
	</div>
</div>
